<ul>
<% profissional.acompanhamentos_em_andamento.order(data_inicio: :desc).first(5).each do |a| %>
  <%= link_to a, class: "#{a.data_final && !a.acompanhamento_finalizacao_motivo.nil? ? 'acompanhamento-finalizado ' + 'acompanhamento-finalizado-' + a.acompanhamento_finalizacao_motivo.motivo.parameterize : 'acompanhamento-em-andamento'}" do %>
    <li>
      <%= a.render_info_para_profissional %>
      <% if !a.data_final.nil? && !a.acompanhamento_finalizacao_motivo.nil? %>
        <span style="font-size:.7em;">
          Finalizado em <%= render_data_brasil a.data_final %> por <%= a.acompanhamento_finalizacao_motivo.motivo %>
        </span>
      <% end %>
    </li>
  <% end %>
<% end %>
</ul>
