<h1>Quadro de profissionais</h1>
<p>Find me in app/views/profissionais/index.html.erb</p>

<div class="pessoas-container">
  <% @profissionais.each do |pro| %>
    <%= render partial: "pessoas/card", locals: { p: pro.pessoa } %>
  <% end %>
</div>
