<h1>Quadro de profissionais</h1>
<%= link_to "+ profissional", new_profissional_path %>

<div class="pessoas-container">
  <% @profissionais.each do |pro| %>
    <%= render partial: "pessoas/card", locals: { p: pro.pessoa } %>
  <% end %>
</div>
