<%= turbo_frame_tag "modal" do %>
  <!--<div class="modal">-->
  <div>
    <h1>Novo atendimento</h1>

    <%= render "form", atendimento: @atendimento %>
    <%= link_to "Cancelar", "javascript:void(0);", data: {
      controller: "modals",
      action: "modals#close"
    }, class: "btn-cancel" %>
  </div>
<% end %>
