<%= titulo "Pessoas cadastradas" %>
<p id="notice"><%= notice %></p>

<h1>Pessoas</h1>

<!-- onde as pessoas ficam -->
<div class="pessoas-container">
  <% @pessoas.each do |p| %>
    <%= render partial: 'card', locals: {p: p} %>
  <% end %>
</div>

<br>

<%= link_to 'New Pessoa', new_pessoa_path %>
