<p id="notice"><%= notice %></p>

<p>
  <strong>Funcao:</strong>
  <%= @profissional_funco.funcao %>
</p>

<%= link_to 'Edit', edit_profissional_funco_path(@profissional_funco) %> |
<%= link_to 'Back', profissional_funcoes_index_path %>
