<% if acompanhamento != nil %>
<div class="caso-resumo">
  <h2>
    Resumo do caso
    <span style="font-size:.7em">
      <%= link_to "Baixar", { controller: :acompanhamentos, action: "caso_detalhes", id: acompanhamento.id, format: :pdf }, { target: "_blank", class: "btn-download" } %>
    </span>
  </h2>
<% acompanhamento.atendimento.where("data <= CURRENT_DATE").each do |at| %>
  <div class="consideracoes">
    <h5><%= render_data_brasil at.data %></h5>
  <%== Kramdown::Document.new(at.consideracoes || "Sem considerações").to_html %>
  </div>
<% end %>
</div>
<% end %>
