<p id="notice"><%= notice %></p>

<p>
  <strong>Estado:</strong>
  <%= @civil_estado.estado %>
</p>

<%= link_to 'Edit', edit_civil_estado_path(@civil_estado) %> |
<%= link_to 'Back', civil_estados_path %>
