<p id="notice"><%= notice %></p>

<p>
  <strong>Grau:</strong>
  <%= @instrucao_grau.grau %>
</p>

<%= link_to 'Edit', edit_instrucao_grau_path(@instrucao_grau) %> |
<%= link_to 'Back', instrucao_graus_path %>
