<h1>Relato</h1>
<%= link_to "PDF", { controller: :relatos, action: :show_pdf, id: @relato.id } %>
<%== Kramdown::Document.new(@relato.relato || "").to_html %>
<h2>Considerações</h2>
<%== Kramdown::Document.new(@relato.atendimento.consideracoes || "Sem considerações").to_html %>
