<%= titulo "Valores de atendimentos" %>
<h1>Valores de atendimentos</h1>

<% @atendimento_valores.each do |atendimento_valor| %>
  <p>
  <%= atendimento_valor.pessoa.nome_completo %> -
  <%= render_data_brasil atendimento_valor.data %> às
  <%= render_hora_brasil atendimento_valor.horario %>
  </p>
<% end %>
