<h1>InstrumentoRelatos#new</h1>
<p>Find me in app/views/instrumento_relatos/new.html.erb</p>

<%= render "form", instrumento_relato: @instrumento_relato %>

<%= link_to "voltar", instrumento_relatos_path %>
