<p id="notice"><%= notice %></p>

<h1>Usuarios</h1>

<div class="pessoas-container">
  <% @usuarios.each do |usuario| %>
    <%= render partial: "pessoas/card", locals: {p: usuario.pessoa } %>
  <% end %>
</div>

<br>

<%= link_to 'New Usuario', new_usuario_path %>
