// Place all the styles related to the acompanhamentos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
	text-decoration: none;
}

.acompanhamentos-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.acompanhamento-card {
	--bg-color: black;
	--text-color: white;
	--shade-color: gray;
	background-color: var(--bg-color);
	color: var(--text-color);
	margin: 1em;
	padding: 1em;
	border-radius: 1em;

	transition: transform 178ms ease-out,
		box-shadow 178ms ease-out;

	&:hover {
		transform: translate(0, -.5em);
		box-shadow: 0 .5em var(--shade-color);
	}
}

.acompanhamento-em-andamento {
	--bg-color: var(--acompanhamento-em-andamento-bg-color);
	--text-color: var(--acompanhamento-em-andamento-text-color);
	--shade-color: var(--acompanhamento-em-andamento-text-color);
}

.acompanhamento-finalizado {
	opacity: var(--acompanhamento-finalizado-opacity);
}
.acompanhamento-finalizado-questoes-financeiras {
	--bg-color: var(--acompanhamento-finalizado-questoes-financeiras-bg-color);
	--text-color: var(--acompanhamento-finalizado-questoes-financeiras-text-color);
	--shade-color: var(--acompanhamento-finalizado-questoes-financeiras-text-color);
}
.acompanhamento-finalizado-desistencia {
	--bg-color: var(--acompanhamento-finalizado-desistencia-bg-color);
	--text-color: var(--acompanhamento-finalizado-desistencia-text-color);
	--shade-color: var(--acompanhamento-finalizado-desistencia-text-color);
}
.acompanhamento-finalizado-alta {
	--bg-color: var(--acompanhamento-finalizado-alta-bg-color);
	--text-color: var(--acompanhamento-finalizado-alta-text-color);
	--shade-color: var(--acompanhamento-finalizado-alta-text-color);
}
.acompanhamento-finalizado-encaminhamento {
	--bg-color: var(--acompanhamento-finalizado-encaminhamento-bg-color);
	--text-color: var(--acompanhamento-finalizado-encaminhamento-text-color);
	--shade-color: var(--acompanhamento-finalizado-encaminhamento-text-color);
}

.caso-resumo {
	background-color: #efefef;
	padding: 2em;
	border-radius: 1rem;
	box-shadow: 0 0 2rem gray;

	height: 30em;
	overflow-y: scroll;
}

.profissional-acompanhamentos {
	--bg-color: white;
	--text-color: black;

	li {
		--padding-v: .5em;
		background-color: var(--bg-color);
		color: var(--text-color);
		padding: var(--padding-v);
		margin: var(--padding-v);
		border-radius: 1em;
		
		transition: transform 200ms ease-out;

		&:hover {
			transform: translate(0, -.1em);
		}
	}
}
