/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.simple-calendar {
	display: grid;
	content-align: center;

  .table {
	  display: table;
	  width: 100%;
	table-layout: fixed;	
  }
  .day {
	text-align: center;
	content-align: center;
  }

  .wday-0 {
	  background-color: pink;
  }
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
	background-color: lightgreen;
  }
  .past {
	background-color: lightgray;
  }
  .future {}

  .start-date {}

  .prev-month {
	background-color: gray;
  }
  .next-month {
	background-color: gray;
  }
  .current-month {}

  .has-events {}
}

.calendario-dia {
	margin: 0;
	position: relative;
	top: 0;
	left: 0;
}


.modal {
	position: fixed;
	z-index: 1;
	padding: 2em;
	width: 62%;
	
	/* center */
	left: 50%;
	right: 50%;
	transform: translate(-50%, -50%);
	overflow: auto;
	background-color: #fdfdfd;
	border-radius: 10px;

	/* add drop shadow */
	box-shadow: 0 0 2rem black;
}
