/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
	/* cores a substituir nos temas */
	--doc-bg-color: #eee;
	--doc-text-color: #333;
	--doc-shade-color: green;
	--doc-a-color: darkblue;

	/* para cadastros no geral */
	--male-bg-color: lightblue;
	--male-shade-color: darkcyan;
	--male-text-color: darkblue;
	--female-bg-color: pink;
	--female-shade-color: firebrick;
	--female-text-color: darkred;
	
	--profissional-bg-color: lightyellow;
	--profissional-shade-color: orange;
	--profissional-text-color: darkgoldenrod;

	/* cores de acompanhamentos */
	--acompanhamento-em-andamento-bg-color: lightcyan;
	--acompanhamento-em-andamento-text-color: darkslateblue;
	--acompanhamento-finalizado-opacity: .7;
	--acompanhamento-finalizado-alta-bg-color: lightgreen;
	--acompanhamento-finalizado-alta-text-color: darkgreen;
	--acompanhamento-finalizado-encaminhamento-bg-color: lightblue;
	--acompanhamento-finalizado-encaminhamento-text-color: darkcyan;
	--acompanhamento-finalizado-questoes-financeiras-bg-color: lightyellow;
	--acompanhamento-finalizado-questoes-financeiras-text-color: darkgoldenrod;
	--acompanhamento-finalizado-desistencia-bg-color: pink;
	--acompanhamento-finalizado-desistencia-text-color: darkred;

	/* fontes (talvez alterar com temas?) */
	--doc-heading-font: 'tex gyre adventor', 'ubuntu', sans-serif;
	--doc-text-font: 'linux biolinum o', 'linux libertine', serif;
}

/* temas */
.light {
	--doc-bg-color: #eee;
	--doc-text-color: #333;
	--doc-a-color: #332211;
}

.dark {
	--doc-bg-color: #333;
	--doc-text-color: #eee;
	--doc-a-color: #ccddee;
}

body {
	background-color: var(--doc-bg-color);
	color: var(--doc-text-color);
	font-family: var(--doc-text-font);
}

a {
	color: var(--doc-a-color);

	/*
	&:hover {
		text-decoration: underline;
	}
	*/
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--doc-heading-font);
}

.simple-calendar {
	display: grid;
	content-align: center;

  .table {
	border-collapse: collapse;
	display: table;
	width: 100%;
	table-layout: fixed;	
  }
  .day {
	text-align: center;
	content-align: center;
  }

  .wday-0 {
	  background-color: pink;
  }
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
	background-color: lightgreen;
  }
  .past {
	background-color: lightgray;
  }
  .future {
	background-color: lightgray;
  }

  .start-date {}

  .prev-month {

  }
  .next-month {
	  
  }
  .current-month {}

  .has-events {}

  .calendar-heading {
	font-size: 1.2em;
	text-align: center;
	padding-bottom: 1em;
  }
  .calendar-title {
	font-family: var(--doc-heading-font);
	font-weight: bold;
	font-size: 1.5em;
	padding: 0 2em 0 2em;
  }
}

.calendario-dia {
	margin: 0;
	position: relative;
	top: 0;
	left: 0;
}


.modal {
	position: fixed;
	z-index: 1;
	padding: 2em;
	width: 62%;
	
	/* center */
	left: 50%;
	right: 50%;
	transform: translate(-50%, -50%);
	overflow: auto;
	background-color: #fdfdfd;
	border-radius: 10px;

	/* add drop shadow */
	box-shadow: 0 0 2rem black;
}

.grid-2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.grid-3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

/* default table style */
table {
	--default-padding: .5em;
	.resultado {
		font-weight: bold;
		text-align: right;
	}

	.dinheiro {
		font-style: italic;
		text-align: right;
	}
}
th {
	padding: var(--default-padding);
	font-family: var(--doc-heading-font);
}
td {
	padding: var(--default-padding);
}
