// Place all the styles related to the atendimentos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.consideracoes {
	background-color: white;
	padding: .5em 1em .5em 1em;
	margin-bottom: .5em;
	border-radius: 1em;
}

.atendimento-card {
	--bg-color: var(--atendimento-default-bg-color);
	--text-color: var(--atendimento-default-text-color);
	--shade-color: var(--atendimento-default-shade-color);
	--highlight-color: var(--atendimento-default-highlight-color);
	--padding: .3em 1em .2em 1em;
	--border-bottom-size: .3em;
	--border-sides-size: 0em;
	--border-color: black;
	display: block;
	background-color: var(--bg-color);
	color: var(--text-color);
	padding: var(--padding);
	border-radius: 1em;
	margin-bottom: var(--border-bottom-size);
	border-bottom: var(--border-bottom-size) solid var(--border-color);
	border-right: var(--border-sides-size) solid transparent;
	border-left: var(--border-sides-size) solid transparent;

	transition: background-color 300ms ease-out,
		box-shadow 300ms ease-out,
		transform 300ms ease-out;

	&:hover {
		box-shadow: 0 .1em gray;
		z-index: 1;
		transform: translate(0, -.2em);
		--bg-color: var(--highlight-color);
	}
}

.atendimento-realizado {
	--bg-color: var(--atendimento-realizado-bg-color);
	--border-color: var(--atendimento-realizado-shade-color);
	--shade-color: var(--atendimento-realizado-shade-color);
	--highlight-color: var(--atendimento-realizado-highlight-color);
	--text-color: var(--atendimento-realizado-text-color);
}

.atendimento-nao-realizado {
	--bg-color: var(--atendimento-nao-realizado-bg-color);
	--border-color: var(--atendimento-nao-realizado-shade-color);
	--shade-color: var(--atendimento-nao-realizado-shade-color);
	--highlight-color: var(--atendimento-nao-realizado-highlight-color);
	--text-color: var(--atendimento-nao-realizado-text-color);
}

.atendimento-futuro, .atendimento-a-ocorrer {
	--bg-color: var(--atendimento-a-ocorrer-bg-color);
	--border-color: var(--atendimento-a-ocorrer-shade-color);
	--shade-color: var(--atendimento-a-ocorrer-shade-color);
	--highlight-color: var(--atendimento-a-ocorrer-highlight-color);
	--text-color: var(--atendimento-a-ocorrer-text-color);
}

.atendimento-em-breve {
	--bg-color: var(--atendimento-em-breve-bg-color);
	--border-color: var(--atendimento-em-breve-shade-color);
	--shade-color: var(--atendimento-em-breve-shade-color);
	--highlight-color: var(--atendimento-em-breve-highlight-color);
	--text-color: var(--atendimento-em-breve-text-color);
}

.tabela-atendimentos {
	--header-bg: var(--acompanhamento-em-andamento-bg-color);
	--header-color: var(--acompanhamento-em-andamento-color);
	--header-padding: .7em;
	--header-text-transform: uppercase;
	--data-padding: 1em;
	--data-align: center;
}


.tr-atendimento {
	--bg-color: white;
	--text-color: black;
	background-color: var(--bg-color);
	color: var(--text-color);
	text-align: center;
	border-bottom: 2px solid var(--text-color);

	a {
		padding: .5em;
		color: var(--text-color);
		text-decoration: underline;
		border-radius: 1em;
		display: block;
		&:hover {
			color: var(--bg-color);
			background-color: var(--text-color);
		}
	}
}

.tr-atendimento-realizado {
	--bg-color: var(--atendimento-realizado-bg-color);
	--text-color: var(--atendimento-realizado-text-color);
}

.tr-atendimento-nao-realizado {
	--bg-color: var(--atendimento-nao-realizado-bg-color);
	--text-color: var(--atendimento-nao-realizado-text-color);
}

.tr-atendimento-futuro, .tr-atendimento-a-ocorrer {
	--bg-color: var(--atendimento-a-ocorrer-bg-color);
	--text-color: var(--atendimento-a-ocorrer-text-color);
}

.tr-atendimento-em-breve {
	--bg-color: var(--atendimento-em-breve-bg-color);
	--text-color: var(--atendimento-em-breve-text-color);
}

textarea {
	font-family: 'linux biolinum o';
	font-size: 1em;
}
