.tabela-infantojuvenil-anamnese {
	--header-align: right;
	--header-bg: inherit;

	--big-header-bg: #444;
	--big-header-size: 2em;
	--big-header-align: center;

	& [colspan="100%"] {
		--header-bg: var(--big-header-bg);
		--header-color: white;
		--header-size: var(--big-header-size);
		--header-align: var(--big-header-align);
	}
	--header-color: black;
	--data-bg: white;
	--highlight-bg: lightgray;

	& .tabela-infantojuvenil-anamnese-gestacao {
		--row-even-bg: #fee;
		--highlight-bg: pink;
		--big-header-bg: salmon;
	}
	& .tabela-infantojuvenil-anamnese-alimentacao {
		--big-header-bg: orange;
		--row-even-bg: #ffe;
		--highlight-bg: #ffb;
	}
	& .tabela-infantojuvenil-anamnese-psicomotricidade {
		--big-header-bg: darkred;
		--row-even-bg: #fdd;
		--highlight-bg: #fcc;
	}
}
