// Place all the styles related to the pessoas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.usuario-acompanhamentos {
	li {
		--padding-v: .3em;
		background-color: yellow;
		padding: var(--padding-v);
		margin: var(--padding-v);
		border-radius: 1em;
	}
}

.pessoas-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.pessoa-card {
	--displace-v: -.5em;
	--shade-color: var(--doc-shade-color);
	background-color: black;
	color: white;
	margin: 1em;
	padding-left: 1.2em;
	padding-right: 1.2em;
	border-radius: 1em;
	text-decoration: none;
	z-index: 0;

	transition: transform 250ms ease-out,
		box-shadow 300ms ease-out;

	h2, h3, h4, h5, h6, p {
		text-align: left;
	}

	&:hover {
		transform: translate(0, var(--displace-v));
		box-shadow: 0px calc(-1 * var(--displace-v)) var(--shade-color);
		z-index: 1;
	}
}


.masculino {
	background-color: var(--male-bg-color);
	color: var(--male-text-color);
	--shade-color: var(--male-shade-color);
}
.feminino {
	background-color: var(--female-bg-color);
	color: var(--female-text-color);
	--shade-color: var(--female-shade-color);
}

.profissional {
	background-color: var(--profissional-bg-color);
	color: var(--profissional-text-color);
	--shade-color: var(--profissional-shade-color);
}

