<h1>A</h1>

<p>Número de psicólogos registrados: <%= @c_psicologos %></p>
<p>Número de usuários registrados: <%= @c_usuarios %></p>
<p>Número de profissionais da clínica registrados: <%= @c_profissionals %></p>
