<% links = [
  {
    nome: "Home",
    path: root_path,
    sublinks: nil,
    style: nil,
  },
  {
    nome: "Cadastros",
    path: pessoas_path,
    sublinks: nil,
    style: nil,
  },
  {
    nome: "Profissionais",
    path: profissionais_path,
    sublinks: nil,
    style: nil,
  },
  {
    nome: "Acompanhamentos",
    path: acompanhamentos_path,
    sublinks: nil,
    style: nil,
  },
  {
    nome: "Financeiro",
    path: financeiro_path,
    sublinks: [],
    style: nil,
  },
  {
    nome: "Entrar",
    path: financeiro_path,
    sublinks: nil,
    style: "float:right;",
  },
]
%>

<nav class="navbar">
  <ul class="navbar-ul">
    <% links.each do |link| %>
      <li class="navbar-li" style="<%= link[:style] %>">
        <%= link_to link[:path], class: "navbar-link" do %>
          <%= link[:nome] %>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>
